<table width="700px">
    <tr>
        <td>
            {{ contact.name }} -- {{ contact.email }}
        </td>
    </tr>
    <tr>
        <td>
            <p>{{ contact.message }}</p>
        </td>
    </tr>
</table>